[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
jupyter = "*"

[packages]
torch = "*"
torchvision = "*"
opencv-python = "*"
timm = "*"
scikit-learn = "*"
pandas = "*"
numpy = "*"
tqdm = "*"
pydicom = "*"
matplotlib = "*"
psutil = "*"
albumentations = "*"
kaggle = "*"
pytorch-lightning = "*"
mlflow = "*"
seaborn = "*"
lightgbm = "*"
catboost = "*"
umap-learn = "*"
pycld2 = "*"
stop-words = "*"
optuna = "*"
xgboost = "*"
ptitprince = "*"
beautifulsoup4 = "*"

[requires]
python_version = "3.8"
